<div className="pswp__scroll-wrap">
    <div className="pswp__container" style="transform: translate3d(0px, 0px, 0px);">
        <div className="pswp__item" style="display: block; transform: translate3d(-358px, 0px, 0px);"></div>
        <div className="pswp__item" style="transform: translate3d(0px, 0px, 0px);">
            <div className="pswp__zoom-wrap" style="transform: translate3d(0px, 178px, 0px) scale(1);"><img className="pswp__img pswp__img--placeholder"
                    src="https://wx3.sinaimg.cn/orj360/696631e3ly1fxp8fpkjbyj23gm2aykjp.jpg" style="width: 320px; height: 213px; display: none;"><img
                    className="pswp__img" src="https://wx3.sinaimg.cn/large/696631e3ly1fxp8fpkjbyj23gm2aykjp.jpg" style="display: block; width: 320px; height: 213px;"></div>
        </div>
        <div className="pswp__item" style="display: block; transform: translate3d(358px, 0px, 0px);">
            <div className="pswp__zoom-wrap" style="transform: translate3d(0px, 43px, 0px) scale(1);"><img className="pswp__img"
                    src="https://wx1.sinaimg.cn/large/696631e3ly1fxp8fq55x7j20es0m8755.jpg" style="opacity: 1; width: 320px; height: 481px;"></div>
        </div>
    </div>
    <div className="pswp__ui">
        <div className="pswp__top-bar">
            <div className="pswp__counter">1 / 6</div>
            <button title="Close (Esc)" className="pswp__button pswp__button--close"></button>
            <div className="m-guide m-guide-hide">
                长按保存哦！
                <span className="m-arr-top"></span></div> <a target="_blank" title="Toggle fullscreen" className="pswp__button pswp__button--fs button-save"><i
                    className="m-font m-font-download"></i>
                <img className="save-img" src="https://wx3.sinaimg.cn/large/696631e3ly1fxp8fpkjbyj23gm2aykjp.jpg"></a>
            <button title="Zoom in/out" className="pswp__button pswp__button--zoom"></button>
            <div className="pswp__preloader">
                <div className="pswp__preloader__icn">
                    <div className="pswp__preloader__cut">
                        <div className="pswp__preloader__donut"></div>
                    </div>
                </div>
            </div>
        </div>
        <div className="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div className="pswp__share-tooltip"></div>
        </div> <button title="Previous (arrow left)" className="pswp__button pswp__button--arrow--left"></button>
        <button title="Next (arrow right)" className="pswp__button pswp__button--arrow--right"></button>
        <div className="pswp__caption pswp__caption--empty">
            <div className="pswp__caption__center"></div>
        </div>
    </div>
</div>